services:
  bot:
    build:
      target: production
      context: .
      dockerfile: ./Dockerfile
    restart: always
    env_file: ".env.production"
    image: ghcr.io/viet-aus-it/discord-bot:production
    container_name: discord_bot_prod

  db-migrate:
    image: ghcr.io/viet-aus-it/prisma-migrate-service
    volumes:
      - ./prisma:/src/prisma
      - ./prisma.config.ts:/prisma.config.ts
    env_file: ".env.production"
    container_name: discord_bot_db_migrate_prod

  broadcast-reminder:
    image: ghcr.io/viet-aus-it/discord-bot:production
    container_name: reminder_broadcaster_prod
    env_file: ".env.production"
    command: ["--import", "/app/build/server/telemetry.cjs", "--enable-source-maps", "/app/build/server/broadcast-reminder.js"]
    environment:
      - OTEL_SERVICE_NAME=vait-discord-bot-broadcast-reminder

  autobump:
    image: ghcr.io/viet-aus-it/discord-bot:production
    container_name: autobump_prod
    env_file: ".env.production"
    command: ["--import", "/app/build/server/telemetry.cjs", "--enable-source-maps", "/app/build/server/autobump.js"]
    environment:
      - OTEL_SERVICE_NAME=vait-discord-bot-autobump

  cleanup-referrals:
    image: ghcr.io/viet-aus-it/discord-bot:production
    container_name: cleanup_referrals_prod
    env_file: ".env.production"
    command: ["--import", "/app/build/server/telemetry.cjs", "--enable-source-maps", "/app/build/server/cleanup-expired-referrals.js"]
    environment:
      - OTEL_SERVICE_NAME=vait-discord-bot-cleanup-referrals
