services:
  bot:
    build:
      target: production
      context: .
      dockerfile: ./Dockerfile
    restart: always
    env_file: ".env.staging"
    image: ghcr.io/viet-aus-it/discord-bot:staging
    container_name: discord_bot_staging
    volumes:
      - ./config.json:/app/config.json

  db:
    env_file: ".env.staging"
    container_name: discord_bot_db_staging

  db-migrate:
    depends_on:
      - db
    image: ghcr.io/viet-aus-it/prisma-migrate-service
    volumes:
      - ./prisma:/src/prisma
    env_file: ".env.staging"
    container_name: discord_bot_db_migrate_staging
