services:
  bot:
    build:
      target: production
      context: .
      dockerfile: ./Dockerfile
    restart: always
    env_file: ".env.production"
    image: ghcr.io/viet-aus-it/discord-bot:production
    container_name: discord_bot_prod
    volumes:
      - ./config.json:/app/config.json

  db:
    env_file: ".env.production"
    container_name: discord_bot_db_prod

  db-migrate:
    depends_on:
      - db
    image: ghcr.io/viet-aus-it/prisma-migrate-service
    restart: "no"
    volumes:
      - ./prisma:/src/prisma
    env_file: ".env.production"
    container_name: discord_bot_db_migrate_prod
