services:
  # Main App Database
  db:
    image: postgres:17-alpine
    restart: on-failure
    env_file: ".env"
    container_name: discord_bot_db
    ports:
      - 5432:5432
    volumes:
      - ./.docker/volume/db/data:/var/lib/postgresql/data
