name: Build and deploy Docker Image

on:
  workflow_call:
    inputs:
      stage:
        required: true
        type: string

jobs:
  build-discord-bot:
    name: Build Discord Bot Docker Image
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Docker meta
        id: docker_meta
        uses: docker/metadata-action@v4
        with:
          images: ghcr.io/viet-aus-it/discord-bot
          tags: |
            type=ref,event=branch
            type=sha
            type=raw,value=${{ inputs.stage }}

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to GitHub Docker
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push docker image
        uses: docker/build-push-action@v4
        with:
          pull: true
          push: true
          target: production
          file: bot.dockerfile
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache
          tags: ${{ steps.docker_meta.outputs.tags }}

  deploy-to-cloud-server:
    name: Deploy to Cloud Server
    runs-on: ubuntu-latest
    needs: build-discord-bot
    env:
      STAGE: ${{ inputs.stage }}

    steps:
      - name: SSH into Cloud Server and deploy
        uses: appleboy/ssh-action@master
        env:
          SSH_USER: ${{ secrets.SSH_USER_EC2_CHATBOT }}
          REPO: ${{ github.event.repository.name }}
        with:
          envs: SSH_USER, REPO, STAGE
          host: ${{ secrets.SSH_HOST_EC2_CHATBOT }}
          username: ${{ secrets.SSH_USER_EC2_CHATBOT }}
          key: ${{ secrets.SSH_KEY_EC2_CHATBOT }}
          script: |
            /usr/local/bin/deploy-chatbot \
              ${SSH_USER} \
              ${REPO} \
              ${STAGE} \
              /${REPO}/.env.${STAGE},.env \
              /${REPO}/config.${STAGE}.json,config.json
