name: Tests and Lints packages

on:
  workflow_call:

permissions:
  contents: read

jobs:
  ci-checks:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: lint
            command: ci
          - name: typecheck
            command: typecheck
          - name: build
            command: build

    name: ${{ matrix.name }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up project
        uses: ./.github/actions/setup-node-deps

      - name: Run ${{ matrix.name }}
        run: pnpm run ${{ matrix.command }}

  test:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:17-alpine
        env:
          POSTGRES_USER: test
          POSTGRES_PASSWORD: test
          POSTGRES_DB: test
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up project
        uses: ./.github/actions/setup-node-deps

      - name: Run tests
        run: |
          cp .env.ci .env
          pnpm run test:silent
