name: Run Tests and Lints before merging into main branch

on:
  pull_request:
    branches:
      - main
    paths:
      - discord-bot/src/**

jobs:
  test-and-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          token: ${{ secrets.ACCESS_TOKEN }}

      - name: Set up Node 14
        uses: actions/setup-node@v1
        with:
          node-version: '14.x'

      - name: Set up project
        run: |
          cd discord-bot
          npm -g install yarn
          yarn install
          yarn clean

      - name: Run linting
        run: yarn lint

      - name: Run tests
        run: yarn test